body {
    height: 100vh;
    background-color: #FFFAF6;
}
/******debut du header*********/
* {
    margin: 0;
    padding: 0;
}
/****font****/
@font-face {
    font-family: 'Alex Brush';
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.eot');
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.woff2') format('woff2'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.woff') format('woff'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fjalla One';
    src: url('../fonts/Fjalla_One/FjallaOne-Regular.eot');
    src: url('../fonts/Fjalla_One/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.woff2') format('woff2'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.woff') format('woff'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata/Prata-Regular.eot');
    src: url('../fonts/Prata/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Prata/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata/Prata-Regular.woff') format('woff'),
        url('../fonts/Prata/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*fin fonts*/


html {
    scroll-behavior: smooth;/*ajoute un effet au scroll vers les a */
}
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
}
header nav ul {
    height: 50px; /**hauteur de la UL**/
    display: flex; /**premettre aux enfants liste les uns a coté des autres**/
    list-style: none; /* enleve les ronds de la liste */
    align-items: center; /**répartition sur la hauteur**/
    justify-content: flex-end; /*repartition sur la largeur*/
}
header nav ul li {
    margin : 0 20px;
    padding: 30px;
}
header nav ul li a{
    text-decoration: none;/****enleve le soulignement****/
    color: #5D3222;
    font-family: 'Fjalla One';
    font-size: 16px;
    margin: 10px;
    transition: 0.5s;
}
header nav ul li a:hover {
    border-bottom: 2px solid  #5D3222; /** ajoute une bordure en bas lors du survol de couleur blanche */
}
#logo{
    font-family:'Alex Brush';
    font-size: 60px;
    color: #5D3222;
    margin-left: 30px;
}
main{
    margin-top: 30px;
    display: flex;
   justify-content: center;
   
}
.Contactez-nous{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1032px;
    height: 852px;
    background-color: white;
    display: flex;
    align-content: center;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.3);
    font-family: 'Fjalla One';
    color: #5D3222;  
    font-size: 20px; 
}



input{
    width: 400px;
    height: 50px;
    background: #F2E7DC;
    border-radius: 10px;
    
}

label{
    margin-top: 3em;
    display: block;   
}
#motif{
    width: 400px;
    height: 50px;
    background: #F2E7DC;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Prata';
}
.message{
    margin-top: 50px;
    color: #5D3222;
    font-family: 'Fjalla One';
}
#text{
    color: gray;
    background-color: #F2E7DC;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    font-family: 'Prata';
}
#submit{
    color: white;
    font-size: 20px;
    background-color: #C9856C;
    font-family: 'Prata';
    border-radius: 0 20px;
    width: 350px;
    height: 50px;
    margin-top: 50px;
    margin-left: 25%; 
}

