*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Alex Brush';
    src: url('/fonts/Alex_Brush/AlexBrush-Regular.eot');
    src: url('/fonts/Alex_Brush/AlexBrush-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Alex_Brush/AlexBrush-Regular.woff2') format('woff2'),
        url('/fonts/Alex_Brush/AlexBrush-Regular.woff') format('woff'),
        url('/fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fjalla One';
    src: url('/fonts/Fjalla_One/FjallaOne-Regular.eot');
    src: url('/fonts/Fjalla_One/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Fjalla_One/FjallaOne-Regular.woff2') format('woff2'),
        url('/fonts/Fjalla_One/FjallaOne-Regular.woff') format('woff'),
        url('/fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prata';
    src: url('/fonts/Prata/Prata-Regular.eot');
    src: url('/fonts/Prata/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Prata/Prata-Regular.woff2') format('woff2'),
        url('/fonts/Prata/Prata-Regular.woff') format('woff'),
        url('/fonts/Prata/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    height: 100vh;
    background-color: #fffaf6;
}
/******debut du header*********/
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    height: 50px; /**hauteur de la UL**/
    display: flex; /**premettre aux enfants liste les uns a coté des autres**/
    list-style: none; /* enleve les ronds de la liste */
    align-items: center; /**répartition sur la hauteur**/
    justify-content: flex-end; /*repartition sur la largeur*/
    padding: 20px;
}
header nav ul li {
    margin : 0 20px;
    padding: 30px;
}
header nav ul li a{
    text-decoration: none;/****enleve le soulignement****/
    color: #5D3222;
    font-family: 'Fjalla One';
    margin: 10px;
    transition: 0.5s;
    padding-top: 20px;
}
header nav ul li a:hover {
    border-bottom: 2px solid  #5D3222; /** ajoute une bordure en bas lors du survol de couleur blanche */
}
#logo{
    font-family:'Alex Brush';
    font-size: 60px;
    font-weight: 400;
    color: #5D3222;
    position: absolute;
    line-height: 75px;
width: 335px;
height: 96px;
left: 58px;
top: 15px;


}
.first{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: url(/images/sect1\ img1.png);
    background-repeat: no-repeat;
    background-position: left ;
    background-size: 550px 800px;
    
 

}

.sect2{
      
        height: 400px;
        width: 647px;
    height: 795px;
}
#text1{
position: absolute;
width: 677px;
height: 260px;
left: 192px;
top: 279px;

font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 65px;

color: #5D3222;
}
.zen1{
 border-top-right-radius: 100px;
position: absolute;
width: 647px;
height: 795px;
left: 787px;
top: 100px;
border-radius: 100px 100px 0px 0px;}

.bt1{
position: absolute;
width: 230px;
height: 57px;
left: 202px;
top: 617px;
background: #D9D7C5;
border-radius: 0px 20px;
border: none;
font-family: 'Prata';
font-size: 30px;
color: #5D3222;

}
.second{
        height: 50%;
        padding-top: 0px;
        padding-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background: url(/images/Group\ 28section2.png);
        background-repeat: no-repeat;
        background-position: right;
}
.title1{
    width: 561px;
    height: 195px;
}
.msg1{
    width: 270px;
    height: 483px;
    position: relative;
    margin: 20px;
}
.mere1{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.contain2{
    background-color: #f2e7dc;
    width: 268px;
    height: 263px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
}
.contain1 > img{
    width: 266.97px;
    height: 285.62px;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    left: 0;
    top: 0;

}
.contain2 >h2{
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #5D3222;
    position: absolute;
    bottom: 110px;
    left: 70px;
}
.contain2 > p{
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    left: 35px;
    bottom: 80px;
    color: #5D3222;
}
.contain2 >button {
    width: 115px;
    height: 33px;
    background: #C9856C;
    border-radius: 0px 20px;
    border: none;
    position: absolute;
    bottom: 30px;
    left: 70px;
    font-size: 18px;
    color: #f2e7dc;
    font-family: 'Prata';
    font-style: normal;
}
#block1{
    position: relative;
    top: 100px;
}
#block2{
    position: relative;
    top: 100px;
}
.title1 > h3{
    font-family: 'Fjalla One';
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: #5D3222;
    text-align: left;
    padding-top: 100px;

}
.title1 >h1 {
font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 48px;
color: #5D3222;
text-align: justify;
position: absolute;
left: 500px;
padding-top: 20px;

}
.last{
    height: 100%;
        padding-top: 100px;
        padding-bottom: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        background: url(/images/Ellipse\ 22.png);
        background-repeat: no-repeat;
        background-position: left 300px;
      
}
.carte{
    width: 1296px;
    height: 480px;
    padding: 10px;
    background: #D9D9D9;
    border-radius: 0px 100px;

}
.carte >h3 {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #5D3222;
    text-align: left;
    margin-left: 50px;
    padding-top: 50px;
    
}
.carte >h1 {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 65px;
    color: #5D3222;
    text-align: left;
    margin-left: 50px;
}
.carte >p {
    font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #5D3222;
    text-align: left;
    margin-left: 50px;
}
.carte> button{
    width: 185px;
    height: 45px;
    margin-top: 10px;
    background: #C9856C;
    border-radius: 0px 20px;
    border: none;
    position: absolute;
    left: 155px;
    font-family: 'Prata';
    font-size: 18px;
    color: #fff;
    
}

.carte1 >img {
    width: 395.95px;
    height: 486.96px;
    border-radius: 100px 100px 0px 0px;
    position: absolute;
    right: 300px;
    top: 2100px;;


}

