@font-face {
    font-family: 'Alex Brush';
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.eot');
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.woff2') format('woff2'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.woff') format('woff'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fjalla One';
    src: url('../fonts/Fjalla_One/FjallaOne-Regular.eot');
    src: url('../fonts/Fjalla_One/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.woff2') format('woff2'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.woff') format('woff'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata/Prata-Regular.eot');
    src: url('../fonts/Prata/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Prata/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata/Prata-Regular.woff') format('woff'),
        url('../fonts/Prata/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #FFFAF6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*debut header*/

header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    height: 50px; 
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

header nav ul li {
    margin : 0 20px;
    padding: 30px;
}

header nav ul li a{
    text-decoration: none;
    color: #5D3222;
    font-family: 'Fjalla One';
    margin: 10px;
    transition: 0.5s;
}

header nav ul li a:hover {
    border-bottom: 2px solid  #5D3222;
}

#logo{
    font-family:'Alex Brush';
    font-size: 60px;
    color: #5D3222;
    margin-left: 30px;
    font-weight: normal;
}

/*fin header*/

main {
    border: 2px solid green;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

aside {
    width: 20%;
    height: 100%;
}


#description-massage {
    border: 2px solid red;
    width: 100%;
    height: 100%;
    background-color: #F2E7DC;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    color: #5D3222;
}

#description-massage p {
    width: 90%;
    height: 100%;
}

aside img {
    height: 65%;
    width: 100%;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.title {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
}

.description {
    font-family: 'Prata';
    font-style: normal;
    font-size: 12px;
    margin: 10px;
}

section {
    border: 2px solid blue;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    height: 100%;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 10%;
}

#jereservepourmoi, #jaiunecartecadeau {
    width: 49%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    font-family: 'Prata';
    font-size: 16px;
    cursor: pointer;
}

#jereservepourmoi {
    background-color: #C9856C;
    color: white;
}

#jaiunecartecadeau {
    background-color: #F2E7DC;
    color: #5D3222;
}

#formulaire {
    border: 2px solid purple;
    background-color: white;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: 'Prata';
    font-size: 14px;
    color: #5D3222;
}

form {
    padding-left: 25px;
    padding-right: 25px;
}

form h2 {
    padding-bottom: 40px;
    margin-top: 10px;
}

form input {
    margin-bottom: 10px;
    margin-right: 10px;
}

.fjalla {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#tunnel {
    width: 90%;
    position: absolute;
    top: 15%;
    right: 5%;
}

form img {
    width: 15px;
    height: 15px;
}

#lieu {
    width: 30%;
    margin-left: 25px;
    border: none;
    background-color: #F2E7DC;
    height: 25px;
    border-radius: 5px;
}
 
.lieu {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

}

.suivant {
    width: 150px;
    height: 40px;
    background: #C9856C;
    border-radius: 0px 20px;
    color: white;
    border: none;
    font-family: 'Prata';
    font-size: 14px;
    position: absolute;
    bottom: 25px;
    right: 35px;
    cursor: pointer;
}