@font-face {
    font-family: 'Alex Brush';
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.eot');
    src: url('../fonts/Alex_Brush/AlexBrush-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.woff2') format('woff2'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.woff') format('woff'),
        url('../fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fjalla One';
    src: url('../fonts/Fjalla_One/FjallaOne-Regular.eot');
    src: url('../fonts/Fjalla_One/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.woff2') format('woff2'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.woff') format('woff'),
        url('../fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prata';
    src: url('../fonts/Prata/Prata-Regular.eot');
    src: url('../fonts/Prata/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Prata/Prata-Regular.woff2') format('woff2'),
        url('../fonts/Prata/Prata-Regular.woff') format('woff'),
        url('../fonts/Prata/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #FFFAF6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*debut header*/

header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    height: 50px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

header nav ul li {
    margin: 0 20px;
    padding: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: #5D3222;
    font-family: 'Fjalla One';
    margin: 10px;
}

#logo {
    font-family: 'Alex Brush';
    font-size: 60px;
    color: #5D3222;
    margin-left: 30px;
    font-weight: normal;
}

/*fin header*/

main {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

aside {
    width: 20%;
    height: 100%;
}

#infoMassage {
    width: 100%;
    height: 100%;
    background-color: #F2E7DC;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    display: flex;
    flex-direction: column;
    color: #5D3222;
}

#infoMassage h2 {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
}

#infoMassage p {
    width: 90%;
    height: 100%;
    font-family: 'Prata';
    font-style: normal;
    font-size: 15px;
    margin: 10px;
}

aside img {
    height: 65%;
    width: 100%;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

section {
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    height: 100%;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 10%;
}

#jereservepourmoi,
#jaiunecartecadeau {
    width: 49%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    font-family: 'Prata';
    font-size: 16px;
    cursor: pointer;
}

#jereservepourmoi {
    background-color: #C9856C;
    color: white;
}

#jaiunecartecadeau {
    background-color: #F2E7DC;
    color: #5D3222;
}

#formulaire-e1, #formulaire-e2, #formulaire-e3, #formulaire-e4, #formulaire-e5 {
    background-color: white;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: 'Prata';
    font-size: 14px;
    color: #5D3222;
}
section {
    position: relative;
}

#formulaire-e2, #formulaire-e3, #formulaire-e4, #formulaire-e5 {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
}

form {
    padding-left: 25px;
    padding-right: 25px;
}

form h2 {
    padding-bottom: 40px;
    margin-top: 10px;
}

form input {
    margin-bottom: 10px;
    margin-right: 10px;
}

.fjalla {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#tunnel {
    width: 90%;
    position: absolute;
    top: 15%;
    right: 5%;
}

/********/

/* début étape 1*/

form img {
    width: 15px;
    height: 15px;
}

#lieu {
    width: 30%;
    margin-left: 25px;
    border: none;
    background-color: #F2E7DC;
    height: 25px;
    border-radius: 5px;
}

.lieu {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

}


/* début étape 2*/

.lesmasseurs {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: 80%;
}

.profilmasseur {
    background-color: #F2E7DC;
    width: 22%;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.profilmasseur h3 {
    padding-top: 15px;
    padding-bottom: 5px;
}

.photomasseur {
    height: 100%;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

div #cache1, #cache2, #cache3 {
    font-size: 12px;
    margin: 5%;
    display: none;
}

#tiret1, #tiret2, #tiret3 {
    cursor: pointer;
}

/* début étape 3 */

.horaires {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.date {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.date h3 {
    margin-bottom: 25px;
    font-family: 'Fjalla One';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

.date img {
    height: 75%;
    width: 75%;
}

.horaire {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.horaire h3 {
    margin-bottom: 30px;
    font-family: 'Fjalla One';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
}

.horaire img {
    height: 60%;
    width: 60%;
    margin-bottom: 30px;
}

/* etape 4 */

.contenu {
    height: 80%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#email, #mdp {
    height: 35px;
    width: 75%;
    border: none;
    border-radius: 10px;
    background-color: #EFE1DC;
    padding-left: 10px;
    font-family: 'Prata';
    font-size: 14px;
}

.connexion {
    width: 60%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.connexion legend, .creeruncompte legend {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 10px;
}

.optionsconnexion {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
}

.creeruncompte {
    width: 60%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.meconnecter , .creeruncompte button {
    width: 75%;
    height: 30px;
    background: #C9856C;
    border-radius: 0px 20px;
    color: white;
    border: none;
    font-family: 'Prata';
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}


/* étape 5 */



.contenu {
    background-color: #F2E7DC;
    border-radius: 25px;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.birthdate input {
    margin-left: 5px;
}

.center input {
    font-family: 'Prata';
    font-size: 14px;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 40%;
}

.contenu p {
    width: 95%;
    margin: 5px;
    font-family: 'Prata';
    font-size: 10px;
}

.nomprenom, .birthdate {
    flex-direction: row;
}

.center {
    width: 60%;
    margin: 12px;
}

.center input {
    font-family: 'Prata';
    font-size: 14px;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 45%;
    padding-left: 10px;
}

#email {
background-color: white;
border-radius: 5px;
}

.valider {
    margin-top: 15px;
}

/*********/

.seconnecter {
    width: 300px;
    height: 30px;
}

.valider {
    margin-top: 15px;
    width: 300px;
    height: 30px;
}

.seconnecter, .valider {
    background: #C9856C;
    border-radius: 0px 20px;
    color: white;
    border: none;
    font-family: 'Prata';
    font-size: 14px;
    cursor: pointer;
}

#between {
    border-top: 2px solid #5D3222;
    height: 10px;
    width: 25%;
}



 main
/********/


#suivant1, #suivant2, #suivant3 {
    width: 150px;
    height: 40px;
    background: #C9856C;
    border-radius: 0px 20px;
    color: white;
    border: none;
    font-family: 'Prata';
    font-size: 14px;
    position: absolute;
    bottom: 15px;
    right: 35px;
    cursor: pointer;
}