*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Alex Brush';
    src: url('/fonts/Alex_Brush/AlexBrush-Regular.eot');
    src: url('/fonts/Alex_Brush/AlexBrush-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Alex_Brush/AlexBrush-Regular.woff2') format('woff2'),
        url('/fonts/Alex_Brush/AlexBrush-Regular.woff') format('woff'),
        url('/fonts/Alex_Brush/AlexBrush-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fjalla One';
    src: url('/fonts/Fjalla_One/FjallaOne-Regular.eot');
    src: url('/fonts/Fjalla_One/FjallaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Fjalla_One/FjallaOne-Regular.woff2') format('woff2'),
        url('/fonts/Fjalla_One/FjallaOne-Regular.woff') format('woff'),
        url('/fonts/Fjalla_One/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Prata';
    src: url('/fonts/Prata/Prata-Regular.eot');
    src: url('/fonts/Prata/Prata-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Prata/Prata-Regular.woff2') format('woff2'),
        url('/fonts/Prata/Prata-Regular.woff') format('woff'),
        url('/fonts/Prata/Prata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/****************style general******************/
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body {
    height: 100vh;
    background-color: #fffaf6;
    
}
input{
    border: none;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    border-radius: 0px 20px;
    font-family: 'Prata';
    font-size: 16px;
    margin: 0 auto;
    }
.grand{
        font-size: 30px;
        }
.btnV{
        background: #D9D7C5;
        color: #5D3222;
        }
.btnM{
    background: #C9856C;
    color: #D9D7C5;
}
/******debut du header*********/
/******debut du header*********/
header{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    height: 50px; /**hauteur de la UL**/
    display: flex; /**premettre aux enfants liste les uns a coté des autres**/
    list-style: none; /* enleve les ronds de la liste */
    align-items: center; /**répartition sur la hauteur**/
    justify-content: flex-end; /*repartition sur la largeur*/
    padding: 20px;
}
header nav ul li {
    margin : 0 20px;
    padding: 30px;
}
header nav ul li a{
    text-decoration: none;/****enleve le soulignement****/
    color: #5D3222;
    font-family: 'Fjalla One';
    margin: 10px;
    transition: 0.5s;
    padding-top: 20px;
}
header nav ul li a:hover {
    border-bottom: 2px solid  #5D3222; /** ajoute une bordure en bas lors du survol de couleur blanche */
}
#logo{
    font-family:'Alex Brush';
    font-size: 60px;
    font-weight: 400;
    color: #5D3222;
}
/*********************************fin du header*******************************************************/
/*********************************debut du main****************************************************/
main>h1{
    display:flex;
    justify-content: center;
    color: #5D3222;
    font-family: Fjalla One;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
 }
 main>section{
    padding: 100px 10%;
    display:flex;
    flex-wrap:wrap;
 }
 main>section>form{
    width: 50%;
    padding-top:100px;
    padding-bottom:100px;
    display:flex;
    justify-content:space-between;
    flex-direction: column;
 }
 main>section>form>div:first-of-type{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
 }
 main>section>form>div:nth-of-type(2){
    display:flex;
    flex-direction: column;
 }
  main>section>form>div div{
    width: 50%;
    display:flex;
    flex-direction: column;
 }
 main>section>form>div div:nth-of-type(odd){
    padding-right: 30px;
    box-sizing: border-box;
 }
 main>section>form label{
    color: #5D3222;
    font-family: Fjalla One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    padding-top: 30px;
 }
 main>section>form input{
    width: 100%;
    height: 35px;
    border-radius: 6px;
    background: #F2E7DC;
 }
 main>section>form textarea{
    width: 637px;
    height: 143px;
    box-sizing: border-box;
    padding-top: 30px;
    background: #F2E7DC;
    border-radius: 6px;
 }
 main>section>div{
    width: 50%;
 }
 main>section>div>img {
    width: 80%;
    margin-left: 30%;
    border-radius: 100px 100px 0px 0px;
 }
.checkbox{
   width: 5%;
   margin-right: 20px;
   align-content: center;

}
.checkbox-label {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Ajustez la marge selon vos besoins */
  }
  
  .checkbox-label input[type="checkbox"] {
    margin-right: 5px; /* Ajustez la marge entre la case à cocher et le texte */
  }
#Submit {
    width: 176px;
    height: 46px;
    border-radius: 0px 20px;
    background: #C9856C;
    color: #FFF;
    font-family: Prata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/********************fin de main**********************/
footer{

    background-color: #D9CBBF;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer >div>div>h1{
    font-family:'Alex Brush';
    font-size: 60px;
    font-weight: 400;
    color: #5D3222;
    line-height: 75px;
    padding: 50px;
    
}
footer div>div>h1>a{
    text-decoration: none;/****enleve le soulignement****/
    color: #5D3222;
}
.ul1{
   list-style: none;
   font-family: 'Prata';
   font-style: normal;
   color: #5D3222;
   padding: 50px;
  }
.ul1 >li{
    margin-top: 10px;
    margin-left: 40px;
}
.ul1>li>a{
    text-decoration: none;
    color: #5D3222;
}
.ul2{
    list-style: none;
    font-family: 'Prata';
    font-style: normal;
    color: #5D3222;
    padding: 50px;
   }
 .ul2 >li{
     margin-top: 10px;
     margin-left: 40px;
 }
 .ul2>li>a{
     text-decoration: none;
     color: #5D3222;
 }
 .foot1{
    
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    }
 .foot1 >p{
    font-family: 'Prata';
       font-style: normal;
       font-weight: 400;
       margin-bottom: 20px;
       
   }
   .foot1>p>a{
       font-family: 'Prata';
          font-style: normal;
          font-weight: 400;
          color: #5D3222;
      }
      .foot1>div> a:nth-last-of-type(2){
        margin: 20px;

      }
.foot2>ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    
    
    
}
.foot2 >ul>li{
 font-family: 'Prata';
    font-style: normal;
    font-weight: 400;
    
}
.foot2 >ul>li>a{
    font-family: 'Prata';
       font-style: normal;
       font-weight: 400;
       color: #5D3222;
   }
.divfoot1{
    display: flex;
    justify-content: center;
}

   
